.container {
    min-height: 50vh;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    margin-top: 65px;
}